<!DOCTYPE html>
<html>
    <head>
        <title> Profile Page </title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <!-- <link rel="stylesheet" href="materialize/css/materialize.css"> -->
    </head>
<body>
  <h1> Profile page. </h1>
  <a href="/logout"><h3>Logout</h3></a>
  <div class="row">
    <div class="col s12 m6">
      <div class="card-panel">
        <h2>Local Info </h2>
        <p>
          <strong>id</strong>: <%= user._id %><br>
	        <strong>username</strong>: <%= user.local.username %><br>
          <strong>password</strong>: <%= user.local.password %>
        </p>
      </div>
    </div>
  <!-- <br><br> -->
  <!-- FACEBOOK INFO -->
    <div class="col s12 m6">
      <div class="card-panel">
        <h2>Facebook Info </h2>
        <p>
          <strong>id</strong>: <%= user.facebook.id %><br>
          <strong>token</strong>: <%= user.facebook.token %><br>
		      <!-- <strong>email</strong>: <%= user.facebook.email %><br> -->
          <strong>name</strong>: <%= user.facebook.name %><br>
        </p>
      </div>
    </div>
  </div>
  <br>


  <div class="row">
    <div class="card-panel" style="height: 30em">
      <div id="map" style="height : 26em" class="col s6 offset-s3"></div>
    </div>
  </div>


  <a href="/profile/todo_add"><h6>Add Todo</h6></a>
  <a href="/profile/todo_show"><h6>Show Todo</h6></a>



  <!-- <div class="row">
    <div class="col s12 m4 offset-m4">
      <div class="card-panel">
        <form action="/profile" method="post">
          <div class="input-field col s12">
            <input id="data" type="text" class="validate" name="data">
            <label for="data">Data</label>
          </div>
          <div class="input-field col s12">
            <input type="date" class="datepicker" name="date">
            <label for="date">Click and  pick date</label>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="submitdata"> Submit Data
            <i class="fa fa-arrow-circle-right"></i>
          </button>
        </form>
      </div>
    </div>
  </div> -->


  <script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 28.61, lng: 77.233},
      zoom: 4
    });
    var infoWindow = new google.maps.InfoWindow({map: map});

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        infoWindow.setPosition(pos);
        infoWindow.setContent('Location found.');
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
                      }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbYejAIZHYm_3xVFNZJcpi7s0mL8PS6cY&callback=initMap"
    async defer></script>
  <!-- <script src="js/jquery.min.js"></script> -->
  <script src="materialize/js/materialize.js"></script>
  <script src="materialize/js/materialize.js"></script>
  <script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
  </script>

</body>
</html>
